<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ca.mapper.product">

	<!-- 거래 등록 -->
	<insert id="insert">
		insert into tbl_dealings
		(dno,name,address,email,total_price,shipping_memo,is_payed) values
		(#{dno},#{name},#{address},#{email},#{total_price},#{shipping_memo},#{is_payed})
	</insert>
	
	<!-- 거래물품 등록 -->
	<insert id="insertProducts">
		insert into tbl_dealings_products (dbo,pno,amount) values (dno,pno,amount)
	</insert>
	
</mapper>