<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ca.mapper.reply">
	<select id="getAttach" resultType="String">
		select fullName from tbl_attach
		where
		bno=#{bno}
	</select>
	
	
	<select id="getAmount" resultType="Integer">
		select count(rno) from tbl_reply 
		where bno=#{bno}
	</select>
	
	<insert id="insert">
		insert into tbl_reply (rno, bno, replyText, replyer) 
		values 
		(#{rno},#{bno},#{replyText},#{replyer})
	
	</insert>
	<select id="createRno" resultType="Integer">
		select max(rno) from tbl_reply
	</select>
	<select id="list" resultType="ReplyVO">
		select * from tbl_reply where bno=#{bno} ORDER BY rno DESC
	</select>
	
	<update id="update" >
		update tbl_reply SET replyText=#{replyText}, 
		updateDate=sysdate where rno=#{rno}
	</update>
	
	<delete id="delete">
		delete tbl_reply where rno=#{rno}
	</delete>
	
	<select id="checkID">
		select rno from tbl_reply where rno=#{rno}
	</select>
	
	<delete id="deleteByBno">
		delete tbl_reply where bno=#{bno}
	</delete>
</mapper>