<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ca.mapper.product">

   <!-- 제품등록시에 쓰는 쿼리 -->
   <select id="getPno" resultType="Integer">
      select max(pno) from tbl_product
   </select>
   <insert id="write">insert into tbl_product
      (pno,eng_name,kr_name,prdct_dscrp,category,INGRD) values
      (#{pno},#{eng_name},#{kr_name},#{prdct_dscrp},#{category},#{INGRD})
   </insert>
   <insert id="writeDetail">
      insert into tbl_product_detail (pno,volume,price)
      values (#{pno},#{volume},#{price})
   </insert>

   <!-- 제품 이미지 등록시에 쓰는 쿼리 -->
   <select id="getPino" resultType="Integer">
      select max(pino) from
      tbl_product_images
   </select>
   <insert id="addImages">
      insert into tbl_product_images (pno,pino,fullname)
      values(#{pno},#{pino},#{fullName})
   </insert>

   <!-- 검색쿼리 -->
   <select id="searchProduct" resultType="ProductDTO">
      select * from tbl_product
      where upper(eng_name) like '%'||upper(#{keyword})||'%' or
      upper(kr_name) like '%'||upper(#{keyword})||'%' or upper(category)
      like '%'||upper(#{keyword})||'%'
   </select>

   <!-- 제품리스트에 이미지 넣어주기 -->
   <select id="getImages" resultType="String">
      select fullname from
      tbl_product_images where pno=#{pno}
   </select>

   <!-- 베스트 셀러 리스트 뽑아오기 -->
   <select id="getBestSeller" resultType="Integer">
         select pno, count(pno) amount from tbl_order_detail group by pno order by amount desc
   </select>

   <!-- 신제품들 리스트 뽑아오기 -->
   <select id="getNewProducts" resultType="ProductDTO">
      select * from tbl_product
      order by pno desc
   </select>

   <select id="getListByCategory" resultType="ProductDTO">
      select * from
      tbl_product where category = #{category}
   </select>

   <!-- product pno로 검색 -->
   <select id="selectProduct" resultType="kr.ca.domain.ProductDTO">
      select * from tbl_product
      where pno = #{pno}
   </select>

   <!-- productDetail pno로 검색 -->
   <select id="selectProductDetail"
      resultType="kr.ca.domain.ProductDetailDTO">
      select * from tbl_product_detail where pno = #{pno}
   </select>

   <!-- productDetail pno, volume으로 하나만 검색 -->
   <select id="selectOneProductDetail"
      resultType="kr.ca.domain.ProductDetailDTO">
      select * from tbl_product_detail where pno = #{pno} and
      volume = #{volume}
   </select>

   <select id="selectCountProductDetail" resultType="Integer">
      select
      count(volume) from tbl_product_detail
   </select>

   <select id="selectShoppingCart"
      resultType="kr.ca.domain.ShoppingCartDTO">
      select * from tbl_shopping_cart where id = #{id}
   </select>
   
   <select id="selectByPno" resultType="ProductDTO">
      select * from tbl_product where pno = #{pno}
   </select>
   
   <select id="allProduct" resultType="ProductDTO">
      select * from tbl_product
   </select>

</mapper>